@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Inter:wght@400;900&family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* Retirar rolagem da scrollbar */
body::-webkit-scrollbar{
    display: none;
}

/* INICIO - PAGE 1 */

.section-1-bg{
    background: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

aside {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    overflow: hidden;
}

.section-1-bg img{
    position: left;
    height: 40px;
    width: 40px;
    margin-top: 4px;
    margin-left: 10px;
    transition: 0.5s all;
}

.section-1-bg img:hover{
    transform: scale(1.1);
}

.icon-menu img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-top: 10px;
    transition: 0.5s;
    cursor: pointer;
}

#barra-menu{
    background: #3cc47c;
    height: 100vh;
    width: 0px;
    transition: 0.3s all; 
}

#barra-menu ul li{
    padding: 15px;
}

#barra-menu ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    width: 100%;
    font-weight: 500;
    transition: 0.3s;
}

#barra-menu ul li a:hover{
    border: none;
    padding: 8px;
    border-radius: 15px;
    background: #000000;
}

.c-icon{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
    overflow: hidden;
    cursor: pointer;
}

.c-icon span{
    color: #000000;
}

.c-icon span:hover {
    transition: 0.2s;
    transform: 0.5s;
    color: #ffffff;
}

.main-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 17%;
    flex-wrap: wrap;
    animation: fromBottom 2.0s backwards;
}

.main-title h1{
    font-size: 70px;
    color: #ffffff;
    margin-top: 15%;
    font-family: "Be Vietnam Pro";
    font-weight: bold;
    letter-spacing: 2px;
}

.main-title h1::after{
    content: '_';  
    opacity: 1;
    animation: pisca .9s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.main-title h2 {
    font-size: 50px;
    color: #3cc47c;
    font-family: "Be Vietnam Pro";
    font-weight: bold;
    letter-spacing: 2px;
}

.main-title h2::after {
    content: '_';
    opacity: 2;
    animation: pisca2 .7s infinite;
}

@keyframes pisca2 {
    0%,100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.main-title h5 {
    margin-top: 20px;
    font-size: 15px;
    color: #ffffff;
    font-family: "Be Vietnam Pro";
    letter-spacing: 2px;
    font-weight: 200;
}

.main-title button a{
    color: #ffffff;
    width: 800px;
}

.main-title button{
    border: none;
    width: 15%;
    margin-top: 50px;
    padding: 8px 5px;
    font-size: 20px;
    background-color: #3cc47c;
    border-radius: 50px;
    color: #000000;
    cursor: pointer;
    transition: 1.0s;
    box-shadow: 4px 4px 8px #529a74;
}

.main-title button:hover{
    border: solid 0.5px #FEE5AC;
    transition: 1.0s;
    background: transparent;
}

.numeros{
    display: flex;
    margin-top: 35px;
    color: #FEE5CA;
    gap: 40px;
    cursor: pointer;
    transition: 1.0s;
}

.downscroll{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 10.0rem;
    transition: 0.9s all;
}

.down{
    transition: 1.0s all;
}

/* ANIMATIONS - LAG */
@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@media screen and (max-width: 1069px) {
    .downscroll{
        display:flex;
        align-items: center;
        justify-content: center;
        margin-top: 5.0rem;
        transition: 0.9s all;
    }
}

@media screen and (max-width: 414px) {
    .main-title h1{
        font-size:30px;
        margin-top: 60%;
        margin-right: 3%;
    }
    .main-title h2{
        font-size: 26px;
        margin-top: 40px;
        margin-right: 3%;
    }
    .main-title h5{
        font-size: 16px;
        margin-top: 40px;
        margin-right: 3%;
    }
    .main-title button{ 
        padding: 14px;
        font-size: 22px;
        width: 150px;
        margin-top: 70px;
        margin-left: 15%;
    }
    #barra-menu ul li a{
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
        width: 100%;
        font-weight: 400;
        transition: 0.3s;
    }
    .c-icon{
        margin-top: 12%;
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 15px;
        overflow: hidden;
        cursor: pointer;
    }

}

@media screen and (max-width: 375px) {
    .main-title h1 {
        font-size: 20px;
        margin-top: 65%;
        margin-right: 1%;
    }

    .main-title h2 {
        font-size: 12px;
        margin-right: 1%;
    }

    .main-title h5 {
        font-size: 13px;
    }

    .main-title button {
        width: 150px;
    }

    .numeros {
        margin-right: 20%;
        margin-top: 40%;
    }
}

/* ABOUT ME - PAGE 2 */

.c-sobre{
    background-color: #42a470;
    display: flex;
    justify-content: space-around;
    padding: 150px 0px;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}

.image{
    width: 400px;
    height: auto;
    cursor: pointer;
    box-shadow: 0px 0px 40px black;
 }

.sobre-mim h1{
    color: #000000;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}

.sobre-mim h4{
    color: #000000;
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    font-weight: bold;
}

.sobre-mim span {
    color: #ffffff;
}

.sobre-mim p {
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-weight: normal;
}

.sobre-mim button a{
    color: #fcf6ef;
}

.sobre-mim button{
    border: none;
    background-color: #000000;
    margin-top: 30px;
    margin-left: 28%;
    border-radius: 50px;
    padding: 14px 14px;
    margin-left: 35%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 4px 4px 4px black, 4px 4px 4px;
    transition-duration: .9s;
}

.sobre-mim button:hover{
    background: #1e1d1f;
    transition: 0.8s;
}

@media screen and (max-width: 414px) {
    .image {
        width: 315px;
        height: auto;
    }
    .sobre-mim h1{
        margin-top: 45px;
    }
    .sobre-mim p{
        font-size: 11px;
        width: 500px;
        padding: 15px;
        text-align: center;
    }
    .sobre-mim button {
        margin-left: 34%;
    }
}

/* SERVICOS - PAGE 3 */

.c-servicos{
    background-color: #000000;
    width: 100%;
    padding: 50px;
    overflow: hidden;
}

.c-servicos h1{
    text-align: center;
    color: white;
    font-size: 70px;
    padding-top: 2%;
    font-weight: bold;
}

.c-servicos p{
    text-align: center;
    color: white;
    margin-top: 40px;
}

.c-card{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    text-align: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card{
    background-color: #3cc47c;
    padding: 50px;
    box-shadow: 4px 4px 8px rgb(65, 53, 53), 4px 4px 2px;
    margin-top: 35px;
    cursor: pointer;
    transition: 0.3s all;
    margin-bottom: 24px;
    border-radius: 10px;
}

.card img{
    width: 60px;
    height: auto;
}

.card h3{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.card h4{
    font-size: 20px;
    font-weight: lighter;
    color: #ffffff;
    margin-top: 15px;
}

.card:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}

@media screen and (max-width: 414px) {
    .c-servicos h1 {
        font-size: 60px;
    }
    .c-card{
        gap: 5px;
    }
    .card {
        margin-top: 15px;
    }
}

/* PROJETOS - PAGE 4 */

.c-projetos{
    width: 100%;
    background-color: #42a470;
    padding: 85px;
    overflow: hidden;
}

.c-projetos h1{
    text-align: center;
    font-size: 70px;
    padding-top: 2%;
    font-weight: bold;
    color:#000000;
}

.c-projetos p{
    text-align: center;
    margin-top: 35px;
    color: #ffffff;
}

.img-projetos {
    position:static;
    justify-content: center;
    gap: 0px;
    margin-top: 80px;
}

.img-projetos img{
    width: 900px;
    height: auto;
    box-shadow: 6px 6px 6px #000000;
    cursor: pointer;
    border-radius: 20px;
}

.swiper-projetos{
    width: 1300px;
    position: center;
    cursor: pointer;
}

.swiper-wrapper{
    align-items: center;
}

.swiper-slide{
    margin-top: 32px;
    border-radius: 20px;
    margin-bottom: 60px;
}


.card-character {
    width: 100%;
    max-width: 200rem;
    transition: all .3s ease;
}

.card-character .image{
    /* position: relative; */
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 600px;
    overflow: hidden;
    margin-bottom: 2.4rem;
    border-radius: 15px 2px 15px 2px;
    transition: all .7s ease-in;
}
.card-character .image img {
    width: 1000px;
    height: 600px;
    object-fit: fill;
    border-radius: 15px 2px 15px 2px;
}

.card-character .image button {
    position: absolute;
    padding: 1rem 2rem;
    background-color: #ffffff;
    color: #000000;
    border-radius: 15px 5px 15px 5px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2rem;
    bottom: 0;
    align-items: center;
    opacity: 0;
    transition: all .3s ease;
}

a {
    color: black;
}

.card-character:hover .image{
    transform: scale(1.1);
}

.card-character:hover .image button {
    opacity: 1;
    bottom: 5.7rem;
}

        @media (max-width: 1200px) {
            .img-projetos img {
                width: 630px;
            }
            
            .swiper-projetos {
                width: 1000px;
                cursor: pointer;
                border-radius: 10px;
            }
        }
    
        @media (max-width: 991px) {
            .c-projetos {
                    overflow: hidden;
                }
            .img-projetos img {
                    width: 400px;
                }
            
                .swiper-projetos {
                    width: 600px;
                    cursor: pointer;
                    border-radius: 10px;
                }
                .card-character .image{
                    /* position: relative; */
                    width: 400px;
                    height: 280px;
                }
    
                .card-character .image img {
                    width: 400px;
                    height: 280px;
                }
    
                .card-character .image button {
                    position: absolute;
                    padding: 15px;
                    font-size: 12px;
                    line-height: 15px;
                    transition: all .3s ease;
                }
    
                .card-character:hover .image button {
                    bottom: 1rem;
                }
        }
    
        @media (max-width: 560px) {
            .c-projetos{
                overflow: hidden;
            }

            .img-projetos{
                margin-top: 4rem;
            }
            .c-projetos h1 {
                font-size: 60px;
            }
        
            .c-projetos p {
                font-size: 15px;
                text-align: center;
                margin-top: 35px;
                color: #ffffff;
            }
        
            .img-projetos img {
                width: 150px;
            }
        
            .swiper-projetos {
                width: 200px;
                cursor: pointer;
                border-radius: 10px;
            }

            
            .card-character .image{
                /* position: relative; */
                width: 350px;
                height: 200px;
            }

            .card-character .image img {
                width: 350px;
                height: 200px;
            }

            .card-character .image button {
                position: absolute;
                padding: 15px;
                font-size: 12px;
                line-height: 15px;
                transition: all .3s ease;
            }

            .card-character:hover .image button {
                bottom: 1rem;
            }
        }

        @media (max-width: 414px) {
            .c-projetos h1{
                font-size: 60px;
            }

            .c-projetos p{
                font-size: 15px;
                text-align: center;
                margin-top: 35px;
                color: #ffffff;
            }
            .img-projetos img {
                width: 220px;
            }
                
            .swiper-projetos {
                width: 300px;
                cursor: pointer;
                border-radius: 10px;
            }

            .card-character .image{
                /* position: relative; */
                width: 250px;
                height: 160px;
            }
            .card-character .image img {
                width: 250px;
                height: 160px;
            }

            .card-character .image button {
                position: absolute;
                padding: 10px 10px;
                font-size: 12px;
                line-height: 15px;
                transition: all .3s ease;
            }

            .card-character:hover .image button {
                bottom: 1rem;
            }
        }

/* RODAPE - PAGE 5 */

.c-rodape{
    width: 100%;
    background-color: #000000;
    padding: 50px;
    overflow: hidden;
}

.c-rodape h1{
    text-align: center;
    color: #ffffff;
    font-weight: lighter;
    padding-bottom: 20px;
}

.c-rodape p{
    padding-top: 30px;
    text-align: center;
    color: #ffffff;
}

.c-rodape strong{
    color: #3cc47c;
}

.c-rodape form input{
    font-size: 13px;
    border-radius: 16px;
    display: inline-block;
    margin-left: 25%;
    width: 50%;
    padding: 15px;
    outline: none;
    border: none;
    margin-top: 11px;
    margin-bottom: 16px;
}

#btnsubmit{
    border-radius: 10px;
    display: flex;
    font-size: 20px;
    border: none;
    width: 108px;
    padding: 4px;
    background-color: #3cc47c;
    color: #ffffff;
    margin-bottom: 40px;
    justify-content: center;
    margin: auto;
}

.c-icon2 {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    gap: 20px;
    overflow: hidden;
    cursor: pointer;
    align-content: stretch;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.c-icon2 span {
    color: #ffffff;
}

.c-icon2 span:hover {
    transition: 0.2s;
    transform: 0.5s;
    color: #3cc47c;
}

.c-rodape form input{

}

.c-rodape form input:hover{
    transform: scale(1.1);
    transition: 1s;
}

#btnsubmit:hover{
    transform: scale(1.1);
    transition: 1s;
}

@media screen and (max-width: 414px) {
    .c-rodape h1{
        font-size: 20px;
    }

    .c-rodape p {
        font-size: 10px;
    }

    .c-rodape form input{
        text-align: center;
        margin-left: 0;
        width: 100%;
    }
}