@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Inter:wght@400;900&family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: #201b2c;
    background-size: cover;
    background-position: top center;
    width: 100% auto;
    height: 100;
}


.img {
    padding-top: 1rem;
}

header img {
    width: 100px;
    margin: auto;
    background-image: linear-gradient(90deg, #FEE5CA 0%, #353131 50%, #FEE5CA 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .5s;
}


.img:hover {
    transform: scale(1.1)
}

header img {
    width: 50%;
    border-radius: 50%;
}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.cabecalho-link {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
    justify-content: center;
}

.cabecalho-link a{
    color: #FEE5CA;
    font-size: 15px;
}

.cabecalho-link a:hover{
    color: #FEE5CA;
    transition: 0.2s all;
}

.logo {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1.5px solid #FEE5CA;
    color: #FEE5CA;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

button {
    color: #FEE5CA;
    background: transparent;
    border: solid 1px #FEE5CA;
    padding: 3px;
    border-radius: 15px;
    font-size: 12px;
    width: 100px;
}

button:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}

.container{
    padding: 150px 0 0 130px;
}

.text h3{
    color: #FEE5CA;
    font-size: 15px;
}

.text h1{
    color: #FEE5CA;
    margin-top: 10px;
}

.text p{
    color: #FEE5CA;
    font-size: 10px;
    font-weight: 300;
    margin-top: 10px; 
}

.redes-sociais a{
    color: #FEE5CA;
    padding-top: 5px;
    padding: 10px;
    margin-top: 5px;
}

.btn {
    margin-top: 10px;
}